body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #343a40;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.logo {
    margin-right: 10px;
    height: 25px; /* Adjust the height as needed */
    width: 30px; /* Adjust the width as needed */
}

.navbar-toggler {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

.navbar-collapse {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 1rem;
}

.nav-link {
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
}

.nav-link.active {
    background-color: #495057;
    border-radius: 5px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #343a40;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

.dropdown-item {
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
}

.dropdown-item:hover {
    background-color: #495057;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.banner-img img {
    width: 100%;
    height: auto;
}

.card-info {
    padding: 2rem;
    margin-top: 4rem;
}

.scrollspy-example {
    background-color: #e9ecef;
    padding: 1rem;
    border-radius: 5px;
}

.home-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.uade-logo {
    margin-left: 2rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #343a40;
    color: white;
    margin-top: 2rem;
}

/* Media Queries */
@media (max-width: 768px) {
    .navbar-toggler {
        display: block;
    }
    .navbar-collapse {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #343a40;
        position: absolute;
        top: 56px; /* height of the navbar */
        left: 0;
        z-index: 1000;
    }
    .navbar-nav {
        flex-direction: column;
        width: 100%;
    }
    .nav-item {
        margin-right: 0;
        width: 100%;
    }
    .nav-link {
        padding: 1rem;
        width: 100%;
        text-align: center;
    }
    .nav-item.dropdown:hover .dropdown-menu {
        position: static;
        display: block;
        width: 100%;
    }
    .dropdown-menu {
        width: 100%;
    }
}
